/*
    ##3f057f purple
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: assistant;
}
html {
  scroll-behavior: smooth;
}

header .vs-popup{
  height: 100%!important;
}

body{
    /* overflow: hidden; */
    background-color: #e6e6e6;
}

h1{
    font-weight: 200;
}

h2, h3{
    font-size: 28px;
    font-weight: 300;
}

section{
    position: relative;
}

nav, navbar-expand-lg{
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.082);
    padding: 0 20px;
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
    width: 100%;
}

nav .navbar-brand img{
    height: 50px;
}

li{
    list-style: none;
}

#navbarNavDropdown ul li{
    width: 13%;
}

#footer{
    color: white;
    bottom: -100px;
    background: #26004c;
    box-shadow: 0px -10px 15px rgba(0, 0, 0, 0.26);
    position: absolute;
    padding: 30px 0 15px 0;
    right: 50%;
    transform: translateX(50%);
    width: 100%;
}

#presentation{
    background-image: url('/image/me-4k-smile-only-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#graphics{

}

#skills, #my-journey{
    min-height: 100vh;
    padding-bottom: 90px;
    position: relative;
}

#portfolio, #contact{
    background: rgb(26,3,53);
    background: linear-gradient(153deg, rgba(26,3,53,1) 0%, rgba(83,6,154,1) 59%, rgba(86,0,167,1) 71%, rgba(84,4,158,1) 82%, rgba(79,5,149,1) 100%);
    min-height: 100vh;
    padding-bottom: 90px;
    position: relative;

}

.blur-3{
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
}

.w-20{
    width: 20%;
}

.skill-icon{
    height: 60px;
}

.z-index-100{
    z-index: 100;
}

.fit-content{
    width: fit-content;
}

.absolute-top-0{
    position: absolute;
    right: 0;
    top: 0;
}

.autoportrait{
    height: 90%;
    bottom: 0;
    position: absolute;
    right: 10%;
    z-index: 0;
}

.navLight a{
    color: white;
    font-weight: 300;
    font-size: 18px;
}

.navDark{
    box-shadow: 0px 5px 20px #00000047;
}

.navDark a{
    color: rgb(91, 0, 182);
    font-weight: 300;
    font-size: 18px;
    
}

.navLight a:hover{ 
    font-weight: 500;
    text-decoration: none!important;

}

.navDark a:hover{
    color: rgb(91, 0, 182);
    font-weight: 500;
    text-decoration: none!important;

}

.border-right-white{
    border-right: 1px solid white;
}

.border-right-black{
    border-right: 1px solid rgb(146, 36, 255);
}

.border-purple{
    border: 1px solid rgb(146, 36, 255);;
}

.margin-top-page{
    margin-top: 200px;
}

.cursor-pointer {
    cursor: pointer;
 }

.white-btn{
    background-color: white;
    border-radius: 50px;
    color: rgb(91, 0, 182)!important;
}

.{
    font-size: 18px!important;
    font-weight: 500!important;
    padding-bottom: 0;
}

.nav-link-sub{
    font-size: 16px!important;
    padding:  0 0 0 20px!important;

}

.margin-60-bottom{
    margin-bottom: 100px;
}

.purple-btn{
    border: 1px solid rgb(119, 2, 235);
    border-radius: 50px;
    transition: all 0.2s;
}

.smooth-card{
    border-radius: 10px;
    box-shadow: 0 5px 20px rgb(179, 179, 179);
    padding:35px 25px 25px 25px;
}

.purple-btn:hover{
    background-color: rgb(119, 2, 235);
    border-radius: 50px;
    color: white!important;
    transition: all 0.2s;
}
 
.cha-header {
    pointer-events: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 25;
}

.cha-header-section{
    pointer-events: auto;
    position: fixed;
    top: 60%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    right: 0;
    width: 90px;
    z-index: 25;
}

.nav-section-up{
    padding-bottom: 50px;
}

.cha-header-clip { 
    bottom: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    right: 0;
    top: 0;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 25;
}

.padding-top{
    padding-top: 6%;
}

.rounded-50{
    border-radius: 50px;
}

.border-black{
    border: 1px solid rgb(128, 0, 255);
}

.white-text{
    color: white;
}

.scroll-icon{
    height: 15px;
    width: 15px;
}

.scroll-icon{
    margin-top: -3px ;
    height: 15px;
    width: 15px;

}

.scroll-icon:hover{
    margin-top: -3px ;
    height: 15px;
    width: 15px;

}

.scroll-icon-wrapper{
    padding: 5px;
}

.scroll-icon-wrapper > .icon-up{
    animation: 0.3s ease-in 0s infinite alternate move_up;
    -webkit-animation: 0.3s ease-in 0s infinite alternate move_up;
}

.scroll-icon-wrapper > .icon-down{
    animation: 0.3s ease-in 0s infinite alternate move_down;
    -webkit-animation: 0.3s ease-in 0s infinite alternate move_down;
}

.scroll-icon-wrapper:hover > .scroll-icon{
    animation: none;
    -webkit-animation: none;
}

@-webkit-keyframes move_up { from { margin-top :-3; } to { margin-top :3px; }  }
        @keyframes move_up { from { margin-top :-3; } to { margin-top :3px; }  }

@-webkit-keyframes move_down { from { margin-top :3px; } to { margin-top :-3px; }  }
        @keyframes move_down { from { margin-top :3px; } to { margin-top :-3px; }  }

.scroll-icon-row{
    bottom: 30px;
    left: 0;
    position: absolute;
}
.up-icon-row{
    left: 0;
    position: absolute;
    top: 30px;
}

.switch-outline-btn{
    border: 1px solid #5b00b6;
    color: #5b00b6;
    transition: all 0.2s;
}

.switch-full-btn{
    background-color: #5b00b6;
    color: white!important;
    transition: all 0.2s;
}

.switch-btn:hover{
    color: #5b00b6;
    transition: all 0.2s;
}

.switch-btn-left{
    border: 1px solid #5b00b6;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    color: #5b00b6;
}

.switch-btn-right{
    border: 1px solid #5b00b6;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    color: #5b00b6;
}

.about-card{
    border-radius: 10px;
    box-shadow: 0 5px 20px rgb(179, 179, 179);
    height: 850px;
    position: relative;
}

.about-tab{
    
}
  
.timelineWrapper {
    left: 0;
    position: absolute;
    transition: all 0.3s ease-in;
    width: 201%;
}

.img-card-wrapper{
    position: relative;
}

.img-card{
    border-radius: 8px;
    position: relative;
    top: 0px;
    transition: all 0.2s;
    width: 100%;
}

.img-card:hover{
    box-shadow: 0px 10px 35px #00000045;
    top: -3px;
    transition: all 0.2s;
    width: 100%;
    -webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-o-transition: all, 0.3s;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.switch {
	background: white;
    border: 1px solid rgb(119, 2, 235);
	border-radius: 50px;
    cursor: pointer;
	display: block;
	height: 20px;
	position: relative;
    text-indent: -9999px;
	width: 140px;
}

.switch:after {
	background: rgb(119, 2, 235);
	border-radius: 50px;
	content: '';
	left: 2px;
	height: 16px;
	position: absolute;
	top: 1px;
	transition: 0.3s;
	width: 16px;
}

input:checked + .switch {
	background: rgb(119, 2, 235);
}


input:checked + .switch:after {
	background: white;
	left: calc(100% - 2px);
	transform: translateX(-100%);

}

.switch:active:after {
	width: 20px;
}

.smooth-shadow{
    box-shadow: 0px 10px 35px #00000045;
}

.align-middle{
    margin-top: 50vh;
    transform: translateY(-50%);
}

.contact-form input, .contact-form input:focus, .contact-form textarea, .contact-form textarea:focus {
    background-color: transparent;
    color: white;
    
}

.contact-form input:focus, .contact-form textarea:focus{
    border: 1px solid white!important;
    box-shadow: 0 0 8px 1px rgb(255 255 255 / 25%)!important;
    outline: none!important;
}

.contact-form input::placeholder, .contact-form textarea::placeholder{
    color: white;
}

/********************************************************/
/********************************************************/
/********************************************************/
/********************************************************/

@media only screen and (max-width: 767px) and (orientation: portrait) {

    h1{
        font-size: 36px;
    }

    .autoportrait{
        height: 60%;
        right: 0;
    }
    
    .absolute-top-0{
        display: none;
    }
}

@media only screen and (max-width: 1604px) {

    #navbarNavDropdown ul li{
        width: 14%;
    }
}

@media only screen and (max-width: 1501px) {

    #navbarNavDropdown ul li{
        width: 17%;
    }
}

@media only screen and (max-width: 1238px) {

    #navbarNavDropdown ul li{
        width: 20%;
    }
}

@media only screen and (max-width: 1062px) {

    #navbarNavDropdown ul li{
        width: 23%;
    }
}